.navbar {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar-head {
  color: #ffffff;
  font-size: 1.5em;
  text-decoration: none;
  margin-left: 20px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-top: 1%;
  position: relative;
  right: 40%;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ee2906;
}

/* Responsive Styles */
.navbar-toggle {
  display: none; /* Hidden by default */
  font-size: 1.5em;
  color: white;
  cursor: pointer;
}


@media (max-width: 1600px) {
  .navbar-links {
    gap: 30px; 
  }
}

@media (max-width: 1200px) {
  .navbar-links {
    flex-direction: column;
    display: none; 
    gap: 20px;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }

  .navbar-links.open {
    display: flex; 
  }

  .navbar-toggle {
    display: block; 
    position: relative;
    right: 3%;

  }
 
}