.Products-page {
    text-align: center;
    padding: 20px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: 0.3s ease-in;
  }

  .product-card:hover
  {
    
    border: 1px solid #333;
    box-shadow: 2px 2px 0px 0px #333;

  }
 
  
  .product-card img {

    width: 250px;
    height: 250px;
    max-width: 100%;
    max-height:100% ;
  }

  .product-card h2{
    font-size: medium;
    font-size: 1.2em;
    margin: 0.5em 0;
  }
  
  .product-card p{
    margin-bottom: 50px;
  }
  
 .product-card .btn{
    position: absolute;
    bottom: 2%;
    left: 0;
    margin-left:5% ;
    width: 90%;
    text-align: center;
 }

 @media (max-width: 1200px){
  .Products-page{
    margin-top: 200px;
  }
  /* .product-card .btn{
    margin-left: 30px;
  } */
 }
